<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_2rO3fru5w7qkMVBAfRy_M7waDX56C2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1006518198645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.base.barbearia</string>
	<key>PROJECT_ID</key>
	<string>barberdata-1869c</string>
	<key>STORAGE_BUCKET</key>
	<string>barberdata-1869c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006518198645:ios:29584254d396932f12733c</string>
</dict>
</plist>